<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCagwG2GRBpY-bfz89OHu5efWKLjiVKZWc</string>
	<key>GCM_SENDER_ID</key>
	<string>788088983016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caretoday.careToDay</string>
	<key>PROJECT_ID</key>
	<string>caretoday-31959</string>
	<key>STORAGE_BUCKET</key>
	<string>caretoday-31959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788088983016:ios:9745b1475553620eb5a85d</string>
</dict>
</plist>